name: E2E Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  e2e:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26'
      
      - name: Install dependencies
        run: |
          cd e2e
          go mod download
      
      - name: Build Docker image
        run: |
          cd e2e
          make docker-build
      
      - name: Run E2E tests
        run: |
          cd e2e
          make test
      
      - name: Cleanup
        if: always()
        run: |
          cd e2e
          make clean
